---
import Layout from '../layouts/Layout.astro';
import HeaderTarOS from '../components/HeaderTarOS.astro';
import HeroTarOS from '../components/HeroTarOS.astro';
import FeaturesTarOS from '../components/FeaturesTarOS.astro';
import TestimonialsTarOS from '../components/TestimonialsTarOS.astro';
import CTATarOS from '../components/CTATarOS.astro';
import FooterTarOS from '../components/FooterTarOS.astro';
import Redesign from '../components/Redesign.astro';
---

<Layout title="Tar app - The AI-powered commerce platform that grows with your business">
  <HeaderTarOS />
  <main>
    <HeroTarOS />
    <FeaturesTarOS />
    <Redesign />
    <CTATarOS />
  </main>
  <FooterTarOS />
</Layout>